body.no-scroll
    overflow: hidden

a
    text-decoration: none
    
.header
    position: relative
    &__inner
        position: fixed
        height: 86px
        width: 100%
        top: 0
        left: 0
        right: 0
        z-index: 5

.nav
    display: flex
    justify-content: center
    align-items: center
    padding: 30px 70px
    transition: background-color 0.4s linear
    background-color: none
    list-style: none
    &__link
        font-size: 15px
        font-weight: 600
        text-transform: uppercase
        text-decoration: none
        margin-right: 45px
        &-arrow
            display: none
            width: 15px
            height: 15px
        a
            transition: color 0.4s linear
            color: #fff
        &-collections
            position: relative
            &-list
                display: none
                position: absolute
                background-color: #fff 
                list-style: none
                padding: 10px
                top: 24px
                left: 50%
                transform: translateX(-50%)
                min-width: 200px
                height: auto
                text-align: center
                li
                    padding: 10px 30px 10px 30px
            @include list_hover
        svg
            display: block
            width: 170px    
            height: 26px
            fill: #fff
            transition: fill 0.4s linear
        &:last-child
            margin-right: 0
        @include link_underline
    @include nav_hover
    @include nav_active

.burger
    display: none
    position: relative
    height: 23px
    width: 30px
    background: none
    font-size: 0
    color: transparent
    border: none
    padding: 0
    z-index: 10
    margin: 0
    top: 30px
    left: 45px
    &__line
        display: block
        width: 30px
        height: 2px
        margin: 3px 0
        background-color: #fff
    &:focus
        outline: none
    
.promo
    position: relative
    top: -40px
    padding: 0 0 30px 0
    &__wrapper
        position: relative
        overflow: hidden
        width: 100% 
        height: 100vh
        &-video
            height: 100%
            width: 177.77777778vh
            min-width: 100%
            min-height: 56.25vw
            position: absolute
            z-index: -1
    &__header
        text-align: center
        padding-top: 400px
        font-size: 90px
        color: #fff
        text-transform: uppercase

.describe
    min-height: 450px
    padding: 0 0 70px 0
    display: flex
    &__img
        display: block
        height: auto
        max-width: 100%
        margin: 0 10px 0 0
        -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.2)
        -moz-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.2)
        box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.2)
    &__wrapper
        margin: 60px 0 0 10px
    &__title
        @include any_title
    &__text
        text-align: center
        font-size: 16px
        font-weight: 500
        line-height: 32px

.preview
    min-height: 450px
    padding: 0 20px 120px 20px
    &__title
        @include any_title
    &__slider
        min-height: 450px
        padding: 20px 0 0 0
        @include slider_dots
        &_wrapper
            display: flex
            @include slider_border
        &-item 
            padding: 0 10px 0 10px
            @include item_underline
        &-img
            height: auto
            width: 100%
        &-buy 
            display: flex
            flex-wrap: wrap
            margin-bottom: 20px
        &-title 
            font-size: 24px
            font-weight: 600
        &-price 
            font-size: 22px
            font-weight: 600
        &-purchase
            display: flex
            width: 100%
            &_img
                padding: 5px 5px 5px 5px
                height: 30px
                width: 30px
            &_subtitle
                font-size: 20px
                font-weight: 400
        &-heart 
            display: flex
            width: 100%
            &_img
                padding: 5px 5px 5px 5px
                height: 30px
                width: 30px
            &_subtitle
                font-size: 20px
                font-weight: 400

.content
    min-height: 450px
    padding: 0 20px 0 20px
    &__title
        font-size: 24px
        font-weight: 600
    &__wrapper
        display: flex
        flex-wrap: wrap
    &__item
        padding: 0 10px 50px 10px
        @include item_underline 
    &__img
        height: auto
        width: 100%
    &__price
        font-size: 22px
        font-weight: 600
    &__buy
        display: flex
        margin-bottom: 20px
    &__purchase
        display: flex
        width: 50%
        &_img
            padding: 5px 5px 5px 5px
            height: 30px
            width: 30px
        &_subtitle
            font-size: 20px
            font-weight: 400
    &__heart
        display: flex
        width: 50%
        &_img
            padding: 5px 5px 5px 5px
            height: 30px
            width: 30px
        &_subtitle
            font-size: 20px
            font-weight: 400
 
.help
    min-height: 250px
    padding: 0 0 70px 0
    &__title
        @include any_title
    &__inner
        display: flex
        justify-content: center
        margin: 50px 0 0 0
        &-item
            display: flex
            flex-wrap: wrap
            justify-content: center
            width: 120px
            height: 120px
    &__img
        width: 70px
        height: 70px
    &__btn
        display: block
        text-decoration: none        
        border: 0
        background: none
        text-align: center
        font-size: 16px
        color: #000
        margin: 10px 0 0 0
        width: 100%
        padding: 5px 0 5px 0
        transition: all 0.4s linear
        &-phone
            &:hover
                background: #000
                color: #fff
        &-size
            &:hover
                background: #000
                color: #fff
            
.footer
    min-height: 120px
    padding: 0 20px 0 20px
    &__inner
        &::before
            content: ""
            display: block
            background-color: #000
            height: 1px
    &__copyright
        font-size: 15px
        font-weight: 600
        padding: 50px 0 30px 0
    &__icons
        display: flex
        justify-content: right
        padding: 30px 0 30px 0
        &-inst
            margin-right: 5px

.modal
    display: none
    width: 100%
    height: 100%
    padding: 30px 15px
    overflow: auto
    background-color: rgba(0,0,0, 0.9)
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    &-show
        display: block
    &__header
        padding: 10px 0 10px 0
        text-align: center
        &-title
            line-height: 16px
            @include any_title
            @include item_underline
        &-text
            font-size: 18px
            font-weight: 600
    &__img
        max-width: 50%
        display: none
    &__inner
        display: flex
        justify-content: center
        align-items: center
        min-height: 100%
    &__content
        position: relative
        max-width: 550px
        width: 100%
        padding: 20px
        background-color: #fff
        opacity: 0
        transform: translateY(-100px)
        transition: transform 0.4s ease-out, opacity 0.4s ease-out
    &__size
        display: flex
        width: 100%
        padding: 10px 0 10px 0
    &__close
        height: 20px
        width: 20px
        background: none
        border: none
        padding: 0
        cursor: pointer
        position: absolute
        top: 10px
        right: 10px
        z-index: 1
        transition: transform 0.2s linear
        img
            display: block
        &:hover
            transform: rotate(90deg)
        &:focus
            outline: none
    &__footer
        padding-top: 25px
        &-title
            text-align: center
            margin: 0
            font-size: 20px
    &__calc
        padding: 15px 25px 15px 25px

.input
    display: block
    width: 100%
    padding-bottom: 5px
    background: none
    border: none
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
    font-size: 18px
    transition: border-bottom 0.1s linear
    outline: none
    &::placeholder
        color: rgba(0, 0, 0, 0.5)      

.sizetable
    margin: 0 auto
    border: 1px solid rgba(219, 112, 147, 0.8)
    border-collapse: collapse
    &__header
        th
            font-size: 18px
            border: 1px solid rgba(219, 112, 147, 0.8)
            background: rgba(255, 105, 180, 0.5)
            padding: 0 10px 0 10px  
    &__body
        td
            border: 1px solid rgba(219, 112, 147, 0.8)
            text-align: center
            background: #ffffff
            color: #313030
            font-size: 14px
            font-family: 'Montserrat', sans-serif